!tests/actual/
tests/actual/*
!tests/actual/.gitkeep

!tests/diffs/
tests/diffs/*
!tests/diffs/.gitkeep

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
